body {
  background: black;
}

.btn-container {
  display: flex;
  gap: 50px;
  padding-left: 50px;
  margin-top: 30%;
}

button {
  border: none;
  padding: 10px 20px;
  white-space: nowrap;
  border-radius: 10px;
  /* for button shifts on hover when border added. */
  width: 120px;
  height: 40px;
}

/* Glow effect */
.btn-1:hover {
  background: #ff96ad;
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad,
    0 0 200px #ff96ad;
}

/* Border effect */
.btn-2:hover {
  border: 1px solid #ff96ad;
  color: #ff96ad;
  background: #17181c;
}
