* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #060b23;
  font-size: 62.5%;
}

.input-field {
  position: relative;
}

.input-field input {
  background: transparent;
  border-radius: 5px;
  border: 2px solid #fff;
  color: white;
  font-size: 1.8rem;
  height: 60px;
  outline: none;
  padding: 0 15px;
  width: 350px;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1.9rem;
  pointer-events: none;
  transition: 0.3s;
}

input:focus {
  border: 2px solid #18ffff;
}

input:focus ~ label,
input:valid ~ label {
  top: 0;
  left: 15px;
  font-size: 1.6rem;
  padding: 0 2px;
  background: #060b23;
}
