<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="label-question">
        <label>Select the languages:</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" id="golang" />
        <div class="label">
          <label for="golang">Go Lang</label>
        </div>
      </div>

      <div class="checkbox">
        <input type="checkbox" id="rust" />
        <div class="label">
          <label for="rust">Rust</label>
        </div>
      </div>

      <div class="checkbox">
        <input type="checkbox" id="javascript" />
        <div class="label">
          <label for="javascript">Javascript</label>
        </div>
      </div>

      <div class="checkbox">
        <input type="checkbox" id="typescript" />
        <div class="label">
          <label for="typescript">Typescript</label>
        </div>
      </div>
    </div>
  </body>
</html>
