* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 15rem;
}

.mask-text {
  background-image: url("../../images/masking.jpg");
  background-size: cover;
  background-clip: text;
  color: transparent;
}
